.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: #F2F2F2;
}

.footer__column-link:hover {
    cursor: pointer;
    opacity: 50%;
    transition: opacity 0.5s linear 0s;
 }