.header__title {
    line-height: 96px;
    font-size: 102px;
    max-width: 730px;
    font-weight: bold;
    margin: 0 0 0 64px;
    z-index: 2;
    align-self: center;
    grid-column: 1;
    grid-row: 2 / 3;
    
}