.khan__buy-link{
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2F80ED;
    list-style: none;
    text-decoration: none;
    min-width: 180px;    
   }

   .khan__buy-link:hover {
    cursor: pointer;
    opacity: 50%;
    transition: opacity 0.5s linear 0s;
   }